route:
  receiver: 'slack'

receivers:
  - name: 'slack'
    slack_configs:
      - send_resolved: true
        text: "{{ '{{ .CommonAnnotations.description }}' }}"
        api_url: {{ SLACK_ALERT_HOOK }}
